.DS_Store
*.DS_Store

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.bbl
*.blg
*.llt
*.zip
*.png
*.bak
**/notes.pdf


## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

